#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.task-manager {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input {
  flex: 1;
  padding: 8px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.task.completed span {
  color: green;
  text-decoration: line-through;
}

button {
  margin-left: 5px;
}

.task span {
  color: red;
}



